ul {
    list-style: none;
}

li .search-item {
    color: red;
}

.item-wrapper {
    display: flex;
    flex-direction: column;
}

.img-holder {
    display: flex;
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: center;
}
